/* How to use page styling    */

/* .img-container{
    height: 130vh;
    /* background-image:url('../components/Images/tinstr-\(1\).png');
    background-repeat:no-repeat;
    background-size:cover;
    width: 100%; */

/* }  */
.img-container img{
    width: 100%;

}

 /* Booking Page    */
 .cardscont {
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    justify-content: center;
    padding: 2vw;
    margin-left: 13vw;
    margin-right: 13vw;
}
@media only screen and (max-width:1400px){
    .cardscont{
        padding: 2vw;
        margin-left: 5vw;
        margin-right: 5vw;
    }
}


@media only screen and (max-width:767px){
    .block-2 img{
        width: 225px !important;
    }
    .block-2 h1{
        font-weight: 700;
        font-size:20px;
        margin-top:12px;
    }
    .cards .row {
        display: flex;
        flex-direction: column;
        margin: auto;
    }
    
}