/* How to use page styling    */

/* .img-container{
    height: 130vh;
    /* background-image:url('../components/Images/tinstr-\(1\).png');
    background-repeat:no-repeat;
    background-size:cover;
    width: 100%; */

/* }  */
.img-container img{
    width: 100%;

}

 /* Booking Page    */
 .cardscont {
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    justify-content: center;
    padding: 2vw;
    margin-left: 13vw;
    margin-right: 13vw;
}
@media only screen and (max-width:1400px){
    .cardscont{
        padding: 2vw;
        margin-left: 5vw;
        margin-right: 5vw;
    }
}


@media only screen and (max-width:767px){
    .block-2 img{
        width: 225px !important;
    }
    .block-2 h1{
        font-weight: 700;
        font-size:20px;
        margin-top:12px;
    }
    .cards .row {
        display: flex;
        flex-direction: column;
        margin: auto;
    }
    
}








/* Sign in with google   */
.signinwithgoogle{
    min-height: 100vh;
    /* border: 2px solid green; */
    
    
}
.signinwithgoogle .signinbox{
    margin-top:0;
    padding-top: 30vh;
    

}
.signin{
    /* max-height: 100vh; */
    
    /* border: 2px solid red; */
    width: 30%;
    margin: auto;
    border-radius:12px;
    box-shadow: 1px 2px 4px 2px rgba(0, 0, 0, 0.2);
    background-color: #fff;

    
    /* margin: auto; */
}
.signinwithgoogle .imglogo img{
    height: 100px;

}
.signin .google .googlelogo{
    height: 42px;
}
.signin{
    padding: 22px 12px;
}
.signin .google button{
    padding: 4px 28px;
    background-color: white;
    border: 1px solid transparent;
    border-radius:8px;
    margin-bottom:12px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    text-align: center;



}

@media only screen and (max-width: 768px){
    .signin{
        width: 98%;
        padding: 58px 12px;
    }


}