@import url("https://fonts.googleapis.com/css?family=Poppins:400,400i,700");
*, *::after, *::before{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}
body{
  font-family: "Poppins", sans-serif;
}
div.c{
  position: relative;
  margin:1em;
}
.accordion input{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  opacity:0;
  visibility: 0;
}
.accordion h1{
  background:white;
  color:black;
  padding:12px;
  position: relative;
  border: 2px solid #D8DDE6;
  font-size: 12px !important;
  font-weight: bold !important;
  border-radius:4px;
  cursor: pointer;
  overflow: hidden;
}
.accordion h1:hover{
  border: 2px solid #5041BB;
    /* border-top: 2px solid #5041BB;
    border-right: 2px solid #5041BB;
    border-left: 2px solid #5041BB; */
}
label::before{
  content:"";
  display: inline-block;
  border: 15px solid transparent;
  border-left:20px solid white;
}
label{
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
}
div.p{
  max-height:0px;
  overflow: hidden;
  transition:max-height 0.5s;
  background-color: white;
  box-shadow:0 0 10px 0 rgba(0, 0, 0, 0.2);
  /* position: absolute;
  margin-top: 3vh; */
}

div.p p {
  padding:2em;
}
.accordion input:checked ~ h1 label::before{
  border-left:15px solid transparent;
  border-top:20px solid white;
  margin-top:12px;
  margin-right:10px;
}
.accordion input:checked ~ h1 ~ div.p{
  max-height:2000px;
  border-top: none;
    border-left: 2px solid #5041BB;
    border-right: 2px solid #5041BB;
    border-bottom: 2px solid #5041BB;
}
a{
  color:steelblue;
}