.card1 .img img{
    width: 325px;
    border-radius:50% 50%;

}
.card1{
    /* border: 1px solid black; */
    width: 360px;
    
}
.card1 .name{
    display: flex;
    justify-content: space-between;
}
/* card1 .name p{
    width: 160px;
} */
.card1 .info{
    color:#5E5E5E ;
}
.info p{
    margin: 0.3rem;
}

.col1r{
    display: flex;
}