.card .img img{
    width: 325px;
    border-radius:50% 50%;

}
.card{
    border: 1px solid black;
    width: 360px;
    
}
.card .name{
    display: flex;
    justify-content: space-between;
}
.card .info{
    color:#5E5E5E ;
}
.info p{
    margin: 0.3rem;
}

.col1r{
    display: flex;
}