
.header-right-side img{
    max-height: 200px;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    transform-origin: bottom;
}
.bounce-1 {
    animation-name: bounce-1;
    animation-timing-function: linear;
}
@keyframes bounce-1 {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-70px); }
    100% { transform: translateY(0); }
}


/* .input-group-button .btn2 button{
    margin-left:1rem !important;

} */
/* .mt-3{
    margin-top:140px !important;
} */
.inputbtn button{
    border: 2px solid #5041BB;
    border-radius:5px;
    
}

@media only screen and (min-width: 1000px) {
    .header{
       margin-left:60px;
       

       /* text-align:left; */
       
    }
    .header-left-side h1{
        /* font-weight: normal !important; */
        font-size: 48px !important;
    }
    .header-left-side{
        justify-content: left;
       text-align: left;
       

        
        
    }
    .header-left-side .btn2{
        margin-left:12px;
    }
    

}
@media only screen  and (min-width:500px) {
    .inputbtn{
        margin-left:2rem;
        padding-right: 2rem;
    }
    

    
}


@media only screen and (max-width:1000px){
    .header-right-side img{
        display: none;
    }
}

@media only screen and (max-width:500px){
    .header-left-side h1{
        margin-top:112px;
        font-size: 32px !important;
    }
    .input-group-button{
        width:100%;
        text-align:center;
        justify-content:center;
        margin-top:12px;

    }
    .header-left-side{
        text-align:left;
        /* margin-right: 12px;
        margin-left: 12px; */

    }
    .input-group{
        text-align:center;
        margin: auto !important;
        justify-content:center
    }
    .inputbtn{
        display: flex;
        flex-direction: column !important;
        width: 100%;
        padding: 4px 12px;
        margin: auto !important;

    
        

    }
}

@media only screen and (min-width:1400px){
    .header .row{
        margin-right: 12%;
        margin-left: 12%;

    }
}