.input input{
    border: 1px solid black;
    
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: black;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: black;
  }

@media only screen and (max-width: 768px){
  .inquiryform .input input{
    width: 100% !important;

  }
  .inquiryform .inputbox textarea{
    width: 100% !important;

  }
  
}